html, body, div, span, object, iframe, img, strong, b, u, i,table,tbody, tfoot, thead,td,th,tr
form, label, legend,header,footer,article,section,aside{margin:0; padding:0; border:0; vertical-align:baseline; background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
input:focus, select:focus, textarea:focus, button:focus {outline:none}
html, body{width:100%; height:100%;}
.clear{clear:both; font-size:0;}
.clearfix::after{clear: both; content: "";  display: table;}
/**{box-sizing: border-box;}
button,input[type="button"],input[type="submit"]{cursor: pointer}
table,td,th,tr {border-collapse:collapse; border-spacing:0;}
input, select, textarea,button {font-family: arial, helvetica, sans-serif; font-weight:400; color: #000;}*/
