<div class="error-log">
  <div class="error-log__inner">
    <h1 class="error-log__title">Registration failed</h1>
    <p>Errors:</p>
    <ul class="error-log__list">
      <% @errors.each do |key, value| %>
        <li class="error-log__item"><%= key %>: <%= value %></li>
      <% end %>
    </ul>
  </div>
</div>
