<div class="form-sign">
  <div class="form-sign__inner">
    <h1>Sign up</h1>
    <div class="form-sign__form">
      <form action="/registration" method="POST">
        <div class="form-sign__field">
          <div class="form-sign__item">
            <input type="text" class="form-sign__input" name="rakuten_auth_key" placeholder="Rakuten shop API key" required="true">
            <input type="hidden" name="veeqo_user_token" value="<%= params[:user_token] %>">
            <input type="hidden" name="veeqo_channel_token" value="<%= params[:channel_token] %>">
          </div>
          <input type='submit' value="Sign Up" class="form-sign__button"></input>
        </div>
      </form>
    </div>
    <div class="form-sign__description">
      In order to view instruction regarding the key generation process, please follow the link bellow.
    </div>
    <a href="https://doku.rakuten.de/doku.php/api/start" target="_blank" class="form-sign__link">Rakuten get started manual</a>
  </div>
</div>
