<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>App</title>
  <link rel='stylesheet' type='text/css' href="<%= url('/css/main.css') %>"/>
  <link rel='stylesheet' type='text/css' href="<%= url('/css/reset.css') %>"/>
</head>
<body>
	<%= yield %>
</body>
</html>
